table,td,th{ 
    border-collapse:collapse;   
}
th,td{
    padding: 10px;
   border-bottom: 1px solid darkgoldenrod;
}
tr:hover{
    color:blueviolet;
    background-color: aqua;
}
th {
    background-color: aliceblue;
}
tr:nth-child(odd)
{
    background-color: aquamarine;
}


/* td{
    height: 70px;
    vertical-align:middle;
} */
/* tr:nth-child(5)
{
    color:blue;
    text-align: center;
} */