body{
    background-color:rgb(239, 209, 209);
}
.parentDiv{
    height:500px;
    width: 300px;
    background-color:rgb(255, 255, 255);
    position:relative;
    left:40%;
    top: 100px;
}
.fa-arrow-left{
    float:left;
    position: relative;
    top:5px;
    left: 5px;
}
.fa-heart,.fa-ellipsis-vertical{
    display:inline-block;
    float:right;
    margin-right:10px;
    position: relative;
    top: 5px;
}
img{
    width:150px;
    height:150px;
    position: relative;
    top:35px;
    left:35px;
    border-radius:50%;
}
figcaption{
    position: relative;
    left:50px;
    top:35px;
    font-size: 20px;
    font-weight: 800;
}
p{
    position:relative;
    top: 40px;
    left:30px;
}
button{
    width:100px;
    height:30px;
    position: relative;
    top:50px;
    left:100px;
    background-color: rgb(226, 71, 123);
    border-width: 2px;
    border-radius:50px;
    border-color: rgb(221, 85, 130);
    color: white;
}
hr{
    position: relative;
    top: 60px;
}
div table tr{
    position: relative;
    top:65px;
    left:60px;
}
.fa-globe{
    background-color: deeppink;
    border-radius: 50%;
    margin-left:10px;
    font-size: xx-large;
}
.row2{
    position: relative;
    top:65px;
    left:75px;
    margin-left:10px;
    font-size:large;
}
.fa-behance{
    background-color:rgb(53, 160, 213);
    margin-left:30px;
    font-size: xx-large;
}
.fa-twitter{
    background-color: rgb(80, 80, 246);
    margin-left:30px;
    font-size: xx-large;
}
.fa-rotate-180{
    position: relative;
    left:49%;
    top:100px;
    font-size:xx-large;
}